{% extends 'base.html' %}

{% block main %}

<br>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'sgp' %}">SGP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(Página atual)</span></a>
      <a class="nav-item nav-link" href="#">Destaques</a>
      <a class="nav-item nav-link" href="{% url 'sair_voltar_sgp' %}">Sair</a>
      <a class="nav-item nav-link disabled" href="#">Desativado</a>
    </div>
  </div>
</nav>

<br>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Coordenadoria de Saúde</h1>
            <br>
            <h2>Coordenador Manoel Cristho</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <br>
            <p>Formulários:</p>
            <ul>
                <li>
                    <a href="{% url 'atestado' %}">Ir para Atestado</a><br>
                </li>
                <li>
                    <a href="{% url 'producao' %}">Ir para Producao</a><br>
                </li>
                <li>
                    <a href="{% url 'mostraproducao' %}">Ir para Mostrar produção</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}